@{
	ViewData["Title"] = "User Page";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">User Page</h2>
			<div class="text-center">
				<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
			</div>
		</div>
	</div>
